* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr .60px;
}

#header {
    border: solid;
    grid-row: 1 / 2;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

#buttons {
    grid-column: 1 / 2;
}

#title {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#library-name {
    font-size: 1.7rem;
    font-weight: 500;
}

#library {
    font-size: 1.5rem;
}

#numbers {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#stats {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
    gap: 5px;
    border-radius: 10px;
}

#main-content {
    border: solid;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 75px 8fr;
}

#add-book {
    border: solid;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book-btn {
    padding: 1rem;
    border: none;
    border-radius: 10px;
}


#add-book-btn:hover {
    cursor: pointer;
}


#books {
    border: solid;
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(auto-fit, 250px) / repeat(auto-fit, minmax(200px, 1fr));
    padding: 2.5rem;
    gap: 2.5rem;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
}

.book {
    border: solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.book-title {
    font-size: 1.5rem;
    font-weight: 500;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-author {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-pages {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-status {
    grid-area: 4 / 1 / 5 / 3;
    border: none;
    border-radius: 10px;
}

.book-status:hover {
    cursor: pointer;
}

.book-delete {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.read {
    background-color: rgb(67, 186, 65);
    font-size: 1.2rem;
    color: white;
}

.reading {
    background-color: rgb(65, 127, 186);
    font-size: 1.2rem;
    color: white;
}

.not-read {
    background-color: rgb(186, 65, 65);
    font-size: 1.2rem;
    color: white;
}

#footer {
    border: solid;
    grid-row: 3 / 4;
    min-height: 60px;
}